*.ini
# *.yaml
*.yml
*.md
# *.json
*.xml
tests
node_modules
# admin-frontend
data*
htmlcov
docker
dist
docs
venv
.venv
/admin-frontend/node_modules
/LICENSE
/.editorconfig
/.gitattributes
/.prettierignore
/.prettierrc
/.devcontainer/
/.github/

# self install 时需要
!README.md
