*.ini
*.yml
*.md
*.xml
tests
node_modules
data*
htmlcov
docker
dist
docs
venv
.venv
/admin-frontend/node_modules
/LICENSE
/.editorconfig
/.gitattributes
/.prettierignore
/.prettierrc
/.devcontainer/
/.github/

# self install 时需要
!README.md
