[tool.poetry]
name = "nonebot-bison-migang"
version = "0.0.3"
description = "Subscribe message from social medias"
authors = ["mobai <mobai@mobai.one>"]
license = "MIT"
homepage = "https://github.com/LambdaYH/nonebot-bison-migang"
keywords = ["nonebot", "nonebot2", "qqbot"]
readme = "README.md"
packages = [{include = "nonebot_bison"}]
include = ["nonebot_bison/admin_page/dist/**/*"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: MacOS",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "License :: OSI Approved :: MIT License",
]

[tool.poetry.dependencies]
python = ">=3.10,<4.0.0"
nonebot2 = "^2.0.0-rc.4"
httpx = ">=0.16.1"
bs4 = "^0.0.1"
tinydb = "^4.3.0"
feedparser = "^6.0.2"
pillow = ">=8.1,<10.0"
expiringdict = "^1.2.1"
pyjwt = "^2.1.0"
python-socketio = "^5.4.0"
nonebot-adapter-onebot = "^2.0.0-beta.1"
nonebot-plugin-htmlrender = ">=0.2.0"
nonebot-plugin-datastore = "^0.6.2"
nonebot-plugin-apscheduler = "^0.2.0"
nonebot-plugin-send-anything-anywhere = "^0.2.6"

[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.4"
pytest = "^7.0.1"
pytest-asyncio = "^0.18.1"
respx = "^0.20.0"
pytest-cov = "^3.0.0"
black = "^22.1.0"
isort = "^5.10.1"
pre-commit = "^2.17.0"
flaky = "^3.7.0"
nonebot2 = { extras = ["fastapi"], version = ">=2.0.0-rc.2" }
pytest-mock = "^3.10.0"
nonebug = { git = "https://github.com/nonebot/nonebug.git", rev = "master" }
pytest-xdist = { extras = ["psutil"], version = "^3.1.0" }
nb-cli = "^1.0.5"
nonebug-saa = "^0.2.1"

[tool.poetry.extras]
cli = ["anyio", "click", "typing-extensions"]
yaml = ["pyyaml"]
all = ["anyio", "click", "typing-extensions", "pyyaml"]

[tool.poetry.plugins.nb_scripts]
bison = "nonebot_bison.script.cli:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

[tool.pytest.ini_options]
markers = [
  "compare: compare fetching result with rsshub",
  "render: render img by chrome",
  "external: use external resources",
]
asyncio_mode = "auto"

[tool.black]
line-length = 88
target-version = ["py310"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.nonebot]
plugins = ["nonebot_bison"]

[tool.pyright]
pythonVersion = "3.10"
pythonPlatform = "All"
