[tool.poetry]
name = "nonebot-bison"
version = "0.9.0"
description = "Subscribe message from social medias"
authors = ["felinae98 <felinae225@qq.com>"]
license = "MIT"
homepage = "https://github.com/felinae98/nonebot-bison"
keywords = ["nonebot", "nonebot2", "qqbot"]
readme = "README.md"
include = ["nonebot_bison/admin_page/dist/**/*"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: MacOS",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: Implementation :: CPython",
  "License :: OSI Approved :: MIT License",
]

[tool.poetry.dependencies]
python = ">=3.10,<4.0.0"
beautifulsoup4 = ">=4.12.3"
expiringdict = "^1.2.1"
feedparser = "^6.0.2"
httpx = ">=0.16.1"
nonebot2 = { extras = ["fastapi"], version = "^2.2.1" }
nonebot-adapter-onebot = "^2.0.0"
nonebot-plugin-htmlrender = ">=0.2.0"
nonebot-plugin-datastore = ">=1.2.0,<2.0.0"
nonebot-plugin-apscheduler = ">=0.4.0"
nonebot-plugin-send-anything-anywhere = ">=0.5.0,<0.7.0"
pillow = ">=8.1,<11.0"
pyjwt = "^2.1.0"
python-socketio = "^5.4.0"
tinydb = "^4.3.0"
qrcode = "^7.4.2"
pydantic = ">=1.10.0,<3.0.0,!=2.5.0,!=2.5.1"

[tool.poetry.group.dev.dependencies]
black = ">=23.7,<25.0"
ipdb = "^0.13.4"
isort = "^5.10.1"
nonemoji = "^0.1.4"
nb-cli = "^1.2.8"
pre-commit = "^3.3.0"
ruff = ">=0.0.278,<0.2.2"

[tool.poetry.group.test.dependencies]
flaky = "^3.7.0"
nonebug = "^0.3.4"
nonebug-saa = "^0.4.0"
pytest = "^7.0.1"
pytest-asyncio = ">=0.18.1,<0.24.0"
pytest-cov = ">=3,<5"
pytest-mock = "^3.10.0"
pytest-xdist = { extras = ["psutil"], version = "^3.1.0" }
respx = "^0.20.0"

[tool.poetry.group.docker]
optional = true

[tool.poetry.group.docker.dependencies]
nb-cli = "^1.4.0"
nonebot2 = { extras = ["fastapi", "aiohttp"], version = "^2.2.1" }
nonebot-adapter-red = "^0.9.0"
nonebot-adapter-qq = "^1.4.2"
nonebot-adapter-telegram = "^0.1.0b14"
poetry-core = "^1.8.1"

[tool.poetry.extras]
cli = ["anyio", "click", "typing-extensions"]
yaml = ["pyyaml"]
all = ["anyio", "click", "typing-extensions", "pyyaml"]

[tool.poetry.plugins.nb_scripts]
bison = "nonebot_bison.script.cli:main"

[build-system]
requires = ["poetry-core>=1.4.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
  "compare: compare fetching result with rsshub",
  "render: render img by chrome",
  "external: use external resources",
]
asyncio_mode = "auto"

[tool.ruff]
select = ["E", "W", "F", "UP", "C", "T", "PYI", "PT", "Q"]
ignore = ["E402", "C901", "PT023"]

line-length = 120
target-version = "py310"

[tool.black]
line-length = 120
preview = true
target-version = ["py310", "py311"]
include = '\.pyi?$'
extend-exclude = '''
'''

[tool.isort]
profile = "black"
line_length = 120
skip_gitignore = true
length_sort = true
force_sort_within_sections = true
src_paths = ["nonebot_bison", "tests"]
extra_standard_library = ["typing_extensions"]

[tool.nonebot]
adapters = [
  { name = "OneBot V11", module_name = "nonebot.adapters.onebot.v11" },
]
plugins = ["nonebot_bison"]
plugin_dirs = ["extra_plugins"]
builtin_plugins = ["echo"]

[tool.pyright]
reportShadowedImports = false
pythonVersion = "3.10"
pythonPlatform = "All"
executionEnvironments = [
  { root = "./tests", extraPaths = [
    "./",
  ] },
  { root = "./" },
]
defineConstant = { PYDANTIC_V2 = true }

[[tool.poetry.source]]
name = "offical-source"
url = "https://pypi.org/simple/"
priority = "primary"
