@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#show {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 632px;
}

.card {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.card .face {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    border: 1px solid #9c9c9c;
}

.card .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    border-bottom: #ccc 1px solid;
}

.card .info .name {
    font-size: 16px;
    font-weight: bold;
    color: #1172e0;
}

.card .info .details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-right: 50px;
}

.card .info .details .time {
    font-size: 14px;
    color: #999;
}

.card .info .details .from {
    font-size: 14px;
    font-weight: bold;
    color: #968282;
}

.card .content {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 15px;
    line-height: 1.5;
    padding: 12px;
}

.decorate {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 570px;
    min-width: 200px;
}

.decorate .logo{
    width: 60px;
    opacity: 0.8;
}
