<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8" viewport>
    <title>common卡片</title>
    <link rel="stylesheet" href="common.css">
    {% block link %}{% endblock %}

    {% if card.extra_head %}
    {{ card.extra_head }}
    {% endif %}

</head>

<body>
    <div id="display">
        <div id="show">
            <div class="decorate">
                <img src="quote.png" alt="bison" class="logo">
            </div>
            <div class="card">
                <img class="face" src="{{card.header.face}}" alt="头像">
                <div class="info">
                    <span class="name">{{card.header.name}}</span>
                    <span class="details">
                        <span class="time">
                            {{card.header.desc}}
                        </span>
                        <span class="from">
                            来自 {{card.header.platform}}
                        </span>
                    </span>
                </div>
                <div class="content">
                    {{card.content.text}}
                    {% block extend %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>
