{% extends "common.html.jinja" %}

{% block link %}
<link rel="stylesheet" href="live.css">
{% endblock %}

{% block extend %}
<div class="live">
    <img src="{{card.content.cover}}" alt="大图">
</div>
{% endblock %}
