name: test-build

env:
  skip_render: ${{ contains(github.event.labels.*.name, 'test-render') }}

on:
  push:
    branches:
      - main
      - next
    paths:
      - admin-frontend/**
      - docker/**
      - src/**
      - tests/**
      - pyproject.toml
      - poetry.lock
      - .github/**
  pull_request:
    paths:
      - admin-frontend/**
      - docker/**
      - src/**
      - tests/**
      - pyproject.toml
      - poetry.lock
      - .github/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-frontend:
    name: Build Frontend
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build Frontend
        uses: ./.github/actions/build-frontend

      - name: Upload dist
        uses: actions/upload-artifact@v3
        with:
          name: frontend
          path: ./admin-frontend/build/
  test:
    name: Test Coverage
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        os: [ubuntu-latest, windows-latest, macos-latest]
      fail-fast: false
    env:
      OS: ${{ matrix.os }}
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python environment
        uses: he0119/setup-python@79c04f1e1bcbfe45c9d0eca6aa522e9b364d7dfa
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install prerequisites
        run: poetry install

      - name: Run Pytest
        if: !env.skip_render
        run: poetry run pytest --cov-report xml --cov=./src/plugins/nonebot_bison -k 'not compare and not render'

      - name: Run Pytest with render mark
        if: env.skip_render
        run: poetry run pytest --cov-report xml --cov=./src/plugins/nonebot_bison -k 'not compare'

      - name: Upload coverage report
        if: !env.skip_render
        uses: codecov/codecov-action@v3
        with:
          flags: smoke-test
          env_vars: OS,PYTHON_VERSION
      
      - name: Upload all-test coverage report
        if: env.skip_render
        uses: codecov/codecov-action@v3
        with:
          flags: all-test
          env_vars: OS,PYTHON_VERSION

  docker-main:
    name: Docker main
    runs-on: ubuntu-latest
    needs: [build-frontend, test]
    steps:
      - uses: actions/checkout@v3

      - name: Download frontend files
        uses: actions/download-artifact@v2
        with:
          name: frontend
          path: ./src/plugins/nonebot_bison/admin_page/dist

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Test Build
        uses: docker/build-push-action@v2
        if: github.event_name == 'pull_request'
        with:
          context: .
          file: ./docker/Dockerfile_with_frontend
          push: false
          tags: felinae98/nonebot-bison:dummy
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Git Branch Name
        id: git-branch-name
        uses: EthanSK/git-branch-name-action@v1

      - name: Build and push
        uses: docker/build-push-action@v2
        if: github.event_name != 'pull_request'
        with:
          context: .
          file: ./docker/Dockerfile_with_frontend
          push: true
          tags: felinae98/nonebot-bison:${{ env.GIT_BRANCH_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  docker-main-sentry:
    name: Docker main sentry
    runs-on: ubuntu-latest
    needs: [build-frontend, test]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3

      - name: Download frontend files
        uses: actions/download-artifact@v2
        with:
          name: frontend
          path: ./src/plugins/nonebot_bison/admin_page/dist

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Git Branch Name
        id: git-branch-name
        uses: EthanSK/git-branch-name-action@v1

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/Dockerfile_with_frontend_sentry
          push: ${{ github.event_name != 'pull_request' }}
          tags: felinae98/nonebot-bison:${{ env.GIT_BRANCH_NAME }}-sentry
          cache-from: type=gha
          cache-to: type=gha,mode=max