name: manual-build

on:
  workflow_dispatch:
    inputs:
      dockerTag:
        description: "tag name of docker image"
        required: true
        type: string

jobs:
  docker-main:
    name: Docker main
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: felinae98/nonebot-bison:${{ inputs.dockerTag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  docker-main-sentry:
    name: Docker main sentry
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile_without_browser
          tags: felinae98/nonebot-bison:${{ inputs.dockerTag }}-nobrowser
          cache-from: type=gha
          cache-to: type=gha,mode=max
